{
  "presets": [
    [
      "@babel/preset-env"
    ],
    "@babel/preset-flow"
  ],
  "plugins": ["dynamic-import-node","@babel/plugin-transform-flow-strip-types", "@babel/plugin-proposal-class-properties","add-module-exports"],

  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": ["dynamic-import-node","@babel/plugin-transform-flow-strip-types", "@babel/plugin-proposal-class-properties","add-module-exports"]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "modules": false
          }
        ]
      ]
    }
  }
}
